/* 
=======================
CSS reset 
=======================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* 
=======================
Image 
=======================
*/
.mlk {
    display: block;
	width: 200px;
	height: 200px;
    margin: 50px 0 20px 5px;
    border-radius: 50%;
    border: 1px solid #37b9f1;
    object-position: initial;
	float: left;

}
/* 
=======================
Nav 
=======================
*/
.introductions{
	width: 100%;
	height: 40px;
	background-color: #f2f5f5;
}
.introductions li {
	display: inline-block;
	margin-left: 20px;
}
.pos {
	font: 700 18px/0 "Nuevela", Times, arial;
	text-align: center;
	color: #565360;
}
li {
	color: #565360;
}
/* 
=======================
typography 
=======================
*/
.aboutMLK {
	width: 100%;
	height: 200px;
	position: relative;
}
.authorInfo {
	display: inline-block;
	width: 960px;
	position: relative;
	top: 100px;
	left: 10px;
	color: #565360;
}
.goalsMLK {
	clear: both
}

.sectionHeadings {
	text-align: center;
	position: relative;
	top: 80px;
	left: 550px;
	font: 700 10px/0 'Times New Roman', Times, serif;
	border: 2px solid #dfe2e5;
	border-radius: 5px;
	padding-top: 22px;
	padding-bottom: 22px;
	width: 20.33%;

}

/*
========================
Media queries
========================
*/

@media (max-width: 800px) {
	.authorInfo {
		display: inline;
		width: 960px;
		position: relative;
		top: 70px;
		left: 9px;
		color: #565360;
	}
}
@media (max-width: 1200px) {
	.authorInfo {
		display: inline;
		position: relative;
		top: 85px;
		left: 9px;
		color: #565360;
	}
}
@media (max-width: 1000px) {
	.authorInfo {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
@media (max-width: 700px) {
	.introductions li{
		display: inline;
		color: #565360;
	}
}
@media (max-width: 600px) {
	.introductions {
		height: 60px;
	}
}
hr {
	width: 78%;
	margin-left: 1px
}
@media (max-width: 1200px) {
	hr {
		display: none;
	}
}